<a href="https://colab.research.google.com/github/ilitteri/7506-Datos/blob/main/tp1_parte1_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
def path_for(dataset: str) -> str:
    return f'/content/drive/MyDrive/Dataset/{dataset}.csv'

review = pd.read_csv(path_for("review"))
user = pd.read_csv(path_for("user"))

# P29

Queremos recomendarle lugares al usuario ‘bNnBwW5kNO77KTgMeVhxKg’. Para esto vamos a decir que a un usuario le gusto un lugar si le dio 3 estrellas o más y tomamos sólo los usuarios que hayan realizado más de 10 reviews. Vamos a buscar al usuario que más lugares le gusten en común y recomendarle todos aquellos que a ese le gustaran y le falte hacer review.

In [3]:
USUARIO_A_RECOMENDAR = "bNnBwW5kNO77KTgMeVhxKg"
MINIMO_DE_ESTRELLAS_PARA_QUE_UN_NEGOCIO_SEA_CONSIDERADO_GUSTADO = 3.0

reviews_de_usuarios_con_mas_de_10_reviews_de_3_estrellas_o_mas = review[(review['stars'] >= 3.0)].merge(user[(user['review_count'] > 10.0) & (user['user_id'] != USUARIO_A_RECOMENDAR)]['user_id'])

negocios_que_le_gustaron_a_usuario_a_recomendar = review[(review['stars'] >= 3.0) & (review['user_id'] == USUARIO_A_RECOMENDAR)]['business_id']

usuario_con_mas_lugares_gustados_en_comun_con_usuario_a_recomendar = reviews_de_usuarios_con_mas_de_10_reviews_de_3_estrellas_o_mas.merge(negocios_que_le_gustaron_a_usuario_a_recomendar, left_on='business_id', right_on='business_id').groupby("user_id")["business_id"].count().reset_index().sort_values("business_id", ascending=False).iloc[0]["user_id"]

lugares_por_calificar_a_usuario_a_recomendar = pd.DataFrame(set(reviews_de_usuarios_con_mas_de_10_reviews_de_3_estrellas_o_mas[reviews_de_usuarios_con_mas_de_10_reviews_de_3_estrellas_o_mas["user_id"] == usuario_con_mas_lugares_gustados_en_comun_con_usuario_a_recomendar]["business_id"]) - set(negocios_que_le_gustaron_a_usuario_a_recomendar), columns=["business_id"])

lugares_por_calificar_a_usuario_a_recomendar

                 business_id
0     LkmyxPN4L99fSZR76tV7CA
1     r9tKxi7rkUyZTp1F4mNovw
2     DdXHwMvFa_vlWwOfgxUNVA
3     6Rn21FbTa5EUmDh668laNA
4     S9ggMHDj2PnvOKNAFIm8pw
...                      ...
1085  D1s6HS9bAYRENT9N5QQodw
1086  K4hv9AlOMl8fYYUkefM7pw
1087  cwHoYlBw7QRZLSbu9hLcbg
1088  kQSIyrBeeXarRZzovJn-rg
1089  IHkPrqEwrZ4JQFBpRQNsqg

[1090 rows x 1 columns]